.card {
    border: 1px solid black;
    display: grid;
    grid-template: auto / 20fr 80fr;
    gap: 30px;
    margin: 0 20px 20px 20px;
    align-items: center;
}

.info {
    line-height: 0.5;
    margin: 5px 0 5px 0;
}

img {
    margin: 5px 0 5px 5px;
}